/* 为整个页面设置鼠标样式 */
body {
    cursor: url('../img/mouse.cur'), auto;
}

/* 为链接设置鼠标样式 */
a {
    cursor: url('../img/mouse.cur'), pointer;
}

/* 为图片设置鼠标样式 */
img {
    cursor: url('../img/mouse.cur'), pointer;
}

/* 为按钮设置鼠标样式 */
button {
    cursor: url('../img/mouse.cur'), pointer;
}